* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'fatman';
    src: url(./fonts/fatman.ttf);
}

@font-face {
    font-family: 'headline';
    src: url(./fonts/oil.ttf);
}

@font-face {
    font-family: 'moon';
    src: url(./fonts/shatter.ttf);
}

.active {
    transform: translate(-100%)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 12;
}

.one {
    display: none;
}

.two {
    position: absolute;
    top: 180%;
    left: 100%;
    width: 60vw;
    height: 70vh;
    transition: 0.5s ease-in-out;

}

.navarea {
    width: 100%;
    height: 100%;
    background-color: #af41af;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 40px;
}

.navwrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 60%;
}

.navwrap a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 120%;
    color: black;
}


.three {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 95%;

}

.three button {
    color: black;
    text-decoration: none;
    font-size: 80%;
    display: block;
    background-color: #af41af;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border: 0;
    outline: none;
}

.home {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: relative;
}

.vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 21px;
}

.hero1 h2 {
    color: whitesmoke;
    font-family: 'fatman';
    font-style: italic;
    font-size: 115%;
    margin-left: 15%;
    text-shadow: 2px 6px 16px purple;
}

.hero1 h1 {
    color: whitesmoke;
    font-family: 'headline';
    font-style: italic;
    font-size: 125%;
    margin-left: 15%;
    opacity: 0.9;
}

.hero2 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 50%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero2 p {
    font-family: 'fatman';
    color: aliceblue;
    text-shadow: 3px 3px 6px green;
    font-size: 150%;
    opacity: 0.8;
}


.hero2 h6 {
    color: aliceblue;
    text-shadow: 3px 3px 6px green;
    font-size: 80%;
    opacity: 0.6;
}


.hero-btn {
    background-color: #af41af;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 140px;
    height: 45px;
    border-radius: 25px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 55%;
}



/* about section */

.about {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: relative;
    background-color: black;
}


.about-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title h2 {
    font-family: 'fatman';
    color: #af41af;
    font-size: 100%;

}

.about-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    padding: 15%;
    text-align: center;
    line-height: 28px;
}

.about-container p {
    color: whitesmoke;
    font-size: 120%;
    font-weight: 200;
}



/* contact section */

.contact {
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    position: relative;
}

.contact-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title h2 {
    font-family: 'fatman';
    color: #af41af;
    font-size: 100%;

}

.contact-container {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container h5 {
    color: white;
}

.contact-container p {
    color: white;
}



/* projects section */

.projects {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: relative;
    background-color: black;

}

.projects-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-title h2 {
    font-family: 'fatman';
    color: #af41af;
    font-size: 100%;
}

.projects-container {
    position: absolute;
    top: 10%;
    left: 0;
    padding-top: 25px;
    width: 100%;
    min-height: 90%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itembox {
    background-color: purple;
    height: 100px;
    width: 300px;
    margin: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.itembox h5 {
    color: white;
    font-size: 150%;

}